@use "../../styles/forward.scss" as *;

.button {
  @include clear-button();
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 26px;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  font-size: 18px;
  font-weight: $fRegular;
  line-height: $lineHeight;
  color: $cWhite !important;
  white-space: nowrap;  
  border-radius: 44px;
  background: $cRed;
  // width: 100%;
  -webkit-tap-highlight-color: transparent; /* Убирает серый оверлей */
  cursor: pointer; /* Важно для iOS! */
  touch-action: manipulation; /* Ускоряет обработку тапов */

  &:focus,
  &:active,
  &:hover {
    color: $cWhite !important;
  }
}

.disabled {
  pointer-events: none;
  color: $cGreyText;
  background: $cGreyBg;
}

.login-btn {
  // margin-top: auto;
  position: absolute;
  bottom: 30px;
  left: 16px;
  right: 16px;
}

.buttonGreeting {
  width: 100%;
}