@use "../../styles/forward.scss" as *;

.login {
  // min-height: calc(100vh - 147px);
  // display: flex;
  // flex-direction: column;
  // position: relative;
  display: grid;
  grid-template-rows: 34px 1fr;
  height: 100%;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.bottom {
  // position: fixed;
  min-height: 56px;
  // bottom: env(safe-area-inset-bottom, 24px);
  left: 16px;
  right: 16px;
  z-index: 1000;
  // padding-bottom: 24px;
}