@use "../../styles/forward.scss" as *;

.login {
  min-height: calc(100vh - 147px);
  display: flex;
  flex-direction: column;
  position: relative;
}

@supports (-webkit-touch-callout: none) {
  .login {
    min-height: calc(100vh - 167px);
  }
}