@use "../../styles/forward.scss" as *;

.message {
  padding: 14px 16px;
  background: $cRedLight;
  border-radius: 8px;
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.title {
  font-size: 16px;
  font-weight: $fRegular;
  line-height: 25px;
  margin-left: 12px;
}

.text {
  font-size: $fBody2;
  font-weight: $fRegular;
  line-height: 20px;
  padding-left: 34px;
}