$fontName: "Roboto";
$font: $fontName, Helvetica, Arial, sans-serif, -apple-system;

$rem: 1px;

$cBlack: #000000;
$cWhite: #ffffff;
$cRed: #ED1E24;
$cBlue: #3300C5;
$cRedLight: #f0dada;
$cGreyText: #8D92A2;
$cGreyBg: #E6E8EC;

$space: 10px;

$fTitleH1: 28px;
$fTitleH2: 24px;
$fBody1: 18px;
$fBody2: 14px;

$fRegular: 400;
$fMedium: 500;
$fBold: 700;

$lineHeight: 1.2;
$lineHeightTitle: 1;

$screenXxs: 376px; //375 //min-width
$screenXs: 392px; //576
$screenSm: 768px; //768
$screenMd: 992px; //992
$screenLg: 1272px; //1200
$screenXl: 1441px; //1440
$screenXxl: 1920px; //1920

$screenXxsMax: ($screenXxs - 1); //max-width
$screenXsMax: ($screenXs - 1);
$screenSmMax: ($screenSm - 1);
$screenMdMax: ($screenMd - 1);
$screenLgMax: ($screenLg - 1);
$screenXlMax: ($screenXl - 1);
$screenXxlMax: ($screenXxl - 1);

//ширина контейнера
$c-xxl: 1180px; 
$c-xl: 1180px; 
$c-l: 1180px; 
$c-md: 768px; //992
$c-sm: 720px; //768
$c-xs: 540px; //576
$c-xxs: 375px; //375