@use "../../styles/forward.scss" as *;

.image {
  display: block;
  width: 320px;
  height: 320px;
  object-fit: cover;
  margin: 0 auto;
  // margin-left: -16px;
  // margin-right: -16px;
}

.imageWrap {
  max-width: 343px;
  margin: 20px auto;
}

.subtitle {
  margin-bottom: 32px;
}

.button {
  width: 10%;
}