@use "../../styles/forward.scss" as *;

.header {  
  padding: 9px 0 16px;
  text-align: center;
}

.layout {
  background: #F4F5F6 url('../../assets/images/bg.png') center top no-repeat;
  background-size: contain;
  height: 100%;
  position: relative;
  // min-height: 100vh;
}

.main {
  padding-top: 16px;
  padding-bottom: 24px;
  // min-height: calc(100vh - 97px);
  height: 100%;
}